*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
body{
    height: 100dvh;
    display: grid;
    grid-template-columns: 60px 1fr 2fr;
}
nav{
    background-color: #F7F5F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.container-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.container-nav > img{
    width: 40px;
    border-radius: 100%;
    padding: 7px;
}
.container-nav > img:hover{
    background-color: #a9a9a993;
}

main{
    background-color: burlywood;
}
aside{
    background-color: coral;
}